@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Dancing Script", cursive;
}

.paginate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginate li {
width: 30px;
height: 30px;
border: 2px solid rgb(202, 198, 198);
border-radius: 2rem;
margin: 5px;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.5rem;

}
